*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #000;
}

.link__index{
    text-decoration: none;
}


.logo{
    width: 400px;
    height: 200px;
    margin: auto;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.logo .car__logo{
    margin-left: auto;
    margin-right: auto;    
    display: flex;
}

.logo .logo__text{
    font-size: 35px;
    background: -webkit-linear-gradient(rgb(131, 38, 38), rgb(59, 59, 59));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
} 

.log__box{
    margin: auto;
    margin-top: 80px;
    border: 2px solid white;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    width: 450px;
    height: 650px;
    z-index: 2;
}

.log__box .compte__txt .compte__txt-h1{
    font-family: sans-serif;
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: 50px;
    cursor:default;
}

.inpt__mail{
    /* border: 2px solid white; */
    width: 285px;
    margin: auto;
    height: 70px;
    margin-top: 150px;
}

.inpt__mail .mail__text{
    font-family:sans-serif;
    color: white;
    position: relative;
    margin: auto;
    display: flex;
    margin-left: 2px;
}

.inpt__mail .mail{
    background: transparent;
    width: 280px;
    height: 35px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    /* border-radius: 5px; */
    /* background-color: rgb(197, 197, 197); */
    margin-top: 5px;
    font-size: 15px;
    color: white;
}

.inpt__pwd{
    /* border: 2px solid white; */
    width: 320px;
    margin: auto;
    height: 70px;
    margin-top: 50px;
    margin-right: 42px;
}

.inpt__pwd .pwd__text{
    font-family:sans-serif;
    color: white;
    position: relative;
    margin: auto;
    display: flex;
    margin-left: 2px;
}

.inpt__pwd .pwd{
    color:white;
    border: none;
    border-bottom: 2px solid white;
    /* border-radius: 5px; */
    outline: none;
    /* border-top-right-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    width: 250px;
    height: 35px;
    border-right: none;
    background: transparent;
    margin-top: 5px;
    font-size: 15px;
}

.btn__visibility{
    color: white;
    border-left: none;
    width: 30px;
    height: 35px;
    float:right;
    display: flex;
    margin-top: 5px;
    margin-right: 40px;
    background: transparent

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
  display: flex;
  /* justify-content: center; */
  margin-left: 2px;  
  margin-top: 2px;
}
.material-symbols-outlined:hover{
    cursor: pointer;
}

.material-symbols-outlined:active{
    background-color: #000;

}


.btn__c{
    /* border: 5px solid white; */
    border-radius: 5px;
    height: 55px;
    margin-top: 50px;
    width: 120px;
    float: right;
    margin-right: 92px;

}

.btn__c .action{
    font-family: sans-serif;
    width: 130px;
    height: 45px;
    font-size: 20px;
    background-color: rgb(0, 95, 184);
    border-radius: 7px;

}

.btn__c .action:hover{
    cursor: pointer;
}

.btn__c .action:active{
    background-color: rgb(0, 53, 102);
}

.prop__add{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 140px;
    text-decoration: none;
}

.prop__add a{
    text-decoration: none;
    color: green;
}


.container video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 62%;
    left: 49.5%;
    z-index:-100 ;
    transform: translate(-50%, -50%);
}