* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.bloc{
    position: relative;
    height: 100vh;
    width: 100%; 
    overflow: hidden;
}

.logo{
    width: 400px;
    height: 250px;
    /* border: 5px solid white; */
    display: flex;
    justify-content: center;
    margin: auto;
    /* position: absolute; */
}

.bloc .car-logo-clss{
    display: flex;
}

.bloc .logo-text{
    font-family: sans-serif;
    margin-top: 120px;
    display: flex;
    text-align: center;
    background: -webkit-linear-gradient(rgb(131, 38, 38), rgb(59, 59, 59));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    position: absolute;
    cursor: default;
}


.bloc .account__bloc{
    /* border: 2px solid white; */
    width: 200px;
    float: right;
    text-align: center;
    margin-top: -250px;
}

.bloc video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index:-100 ;
    transform: translate(-50%, -50%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: hidden;
}

ul{
    position: relative;
    margin-top: 100px;
}

ul li{
    list-style: none;
    text-align: center;

}

ul li a{
    margin-top: 50px;
    color: white;
    text-decoration: none;
    font-size: 4.5em;
    padding: 5px 30px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}


ul:hover li a{
    color: rgba(255, 255, 255, 0.133);
}

ul li:hover a{
    color: rgb(187, 187, 187);
    /* background: transparent; */
}

ul li a:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(255, 0, 0, 0.1);
    /* border-radius: 40%; */
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

ul li a:hover:before{
    content: attr(data-text);
    opacity: 5;
    left: 50%;
    letter-spacing: 10px;
    width: 1900px;
    height: 1900px;
}

/* ul li:nth-child(6n+1) a:before{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

ul li:nth-child(6n+2) a:before{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
ul li:nth-child(6n+3) a:before{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
} */