body {
    margin: 0;
    padding: 0;
    background-color: #292929;
    
    
 }
 
 
  .logo_1 img {
    border: 10px solid #151515;
    border-radius: 30px;
    margin: auto;
 
 }
 
 .logo_1{
    margin: auto;
  
    width: 610px;
    
 }
 
 
 
 
 
 
 
 
 
 
 
 .prix{
    font-size:50px ;
    color: white;
    text-align: center;
    text-decoration: underline;
    transform: scale(1);
    overflow: hidden;
 }
 
 
 .prix:hover{
    transform: scale(1.3);
    overflow: hidden;
    color: green;
 }
 .info {
    color: white;
    margin-top: 300px;
    margin: auto
 ;   font-size: 20px;
    /* border: #151515 solid 5px; */
    width: 600px;
 
    font-family: sans-serif;
 
 }
 
 h1 {
    text-align: center;
 }
 
 
 .container_info {
    text-align: center;
 
 }
 
 
 
 .v_mot a{
    text-decoration: none;
    color: black;
 }