*{
    box-sizing: border-box;
}

body{
    background-color: #292929;
}


header {
    /* border: 5px solid white; */
    display: flex;
    justify-content: space-between;
    height: 250px;
}


.logo{
    border-radius: 15px;
    width: 350px;
    height: 250px;
    position: absolute;
    background-color: #2b2b2b;
    background-image: linear-gradient(315deg, #2b2b2b 0%, #7f7f7f 100%);
    text-decoration: none;
}


.logo .car-logo-img{
    position: absolute;
    margin-left: 86px;

}

.logo .logo-text{
    font-family: sans-serif;
    margin-top: 100px;
    margin-left: 50px;
    background: -webkit-linear-gradient(rgb(131, 38, 38), rgb(59, 59, 59));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-bar{
    width: 500px;
    height: 40px;
    display: flex;
    gap: 0.5rem;
} 

.nav-bar a{
    /* background-color: white; */
    border: 0.5px solide white;
    border-radius: 15px;
    flex: 1;
    margin-left: 0px;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    border: 1px solid white;
    text-align: center;
    padding: 0.2rem;
    text-decoration: none;
    background-color: #c2c2c2;
    color: #202020;
}

.nav-bar a:hover{
    transition: 1s all ease-out;
    background-color: #292929;
    color: white;
    border-radius: 5px;
}


.search-bar{
    width: 730px;
    height: 40px;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    margin: auto;
}

.search-bar .inpt{
    width: 670px;
    height: 30px;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    margin-left: -3px;
    z-index: 1;
}

.search-bar .search-btn{
    width: 20px;
    height: 20px;
    margin-left: 10px; 
    z-index: 2;
    position: relative;
}

.all__modele-box{
    /* border: 2px solid white; */
    margin-top: 300px;
    display: grid;
    grid-template-columns: 100px 100px 100px 310px;
    grid-template-rows: 300px 550px;
    align-items: center;
    justify-content: space-between;
    
}

.modele__box{
    /* margin-top: 50px; */
    margin: auto;
    background-color: #202020;
    border-radius: 10px;
    /* border: 2px solid white; */
    width: 300px;
    height: 300px;
    margin: auto;
}

.modele__box:hover{
    transition: 1s all;
    background-color: #474747;
}


.img__box{
    /* border: 2px solid white; */
    margin-top: 5px;
    width: 295px;
    margin: auto;
    text-align: center;
}

.img__box img{
    margin-top: 5px;
}