body{
    background-color: #292929;
}


header {
    /* border: 5px solid white; */
    display: flex;
    justify-content: space-between;
    height: 250px;
}


.logo{
    border-radius: 15px;
    width: 350px;
    height: 250px;
    position: absolute;
    background-color: #2b2b2b;
    background-image: linear-gradient(315deg, #2b2b2b 0%, #7f7f7f 100%);
    text-decoration: none;
}


.logo .car-logo-img{
    position: absolute;
    margin-left: 86px;

}

.logo .logo-text{
    font-family: sans-serif;
    margin-top: 100px;
    margin-left: 50px;
    background: -webkit-linear-gradient(rgb(131, 38, 38), rgb(59, 59, 59));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* .account__bloc{
    border: 2px solid white;
    width: 200px;
    float: right;
    text-align: center;
    /* margin-top: -250px; */
/* } */

.nav-bar{
    /* border: 1px solid white; */
    width: 500px;
    height: 40px;
    display: flex;
    /* justify-content: space-between; */
    /* margin-left: 20px; */
    gap: 0.5rem;
} 

.nav-bar a{
    /* background-color: white; */
    border: 0.5px solide white;
    border-radius: 15px;
    flex: 1;
    margin-left: 0px;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    border: 1px solid white;
    text-align: center;
    padding: 0.2rem;
    text-decoration: none;
    background-color: #c2c2c2;
    color: #202020;
}

.nav-bar a:hover{
    transition: 1s all ease-out;
    background-color: #292929;
    color: white;
    border-radius: 5px;
}


.search-bar{
    width: 730px;
    height: 40px;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    margin: auto;
}

.search-bar .inpt{
    width: 670px;
    height: 30px;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    margin-left: -3px;
    z-index: 1;
}

.search-bar .search-btn{
    width: 20px;
    height: 20px;
    margin-left: 10px; 
    z-index: 2;
    position: relative;
}

/* .search-bar .search-btn:active{
    background-color: #5a5a5a;
} */

.all-carbox{
    margin-top: 400px;
    display: grid;
    width: 540px;
    grid-template-columns: 660px 660px 200px;
    align-items: start;
    justify-content: space-between;

}

.car-box-link{
    text-decoration: none;
}

.car-box{
    background-color: #202020;
    border: 5px solid #202020;
    border-radius: 15px;
    width: 550px;
    height: 400px;
    margin-top: 30px;

}

.car-box:hover{
    transition: 1s all;
    background-color: black;
    border: 5px solid black;
}

.car-box img{
    width: 550px;
    height: 270px;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-radius: 15px;
    /* border-top-right-radius: 15px; */
}
.car-box img:hover{
    transition: 4s all;
    opacity: 40%;
    
}

.car-box .info__box{
    /* border: 2px solid white; */
    /* width: 100px; */
    /* height: 55px; */
    box-sizing: border-box;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.car-box .price-p{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 10px;
    text-decoration: none;
    display: flex;
}

.car-box:hover .price-p{
    transition: 0.5s all;
    color: rgb(20, 170, 15);
}


.info__box .car__name{
    color: rgb(196, 196, 196);
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;

    
}

.car-box:hover .car__name{
    transition: 0.5s all;
    color:white;
    text-shadow: white;
} 

.car-box .car-year{
    font-family: sans-serif;
    font-size: 25px;
    color: white;
} 

/*switcher pages*/
.switch__page-div{
    background-color: #1b1b1b;
    /* border: 5px solid white; */
    border-radius: 5px;
    width: 600px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
}

.switch__page-div a{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    margin: 0 28px;
    text-decoration: none;
}

.switch__page-div a:hover{
    transition: 0.5s all;
    background-color: rgb(122, 61, 61);
    border-radius: 15px;
}